In [1]:
import pandas as pd
import json

In [2]:
# df = pd.read_csv("./dataset/Depression_experience_rate.csv", encoding = "utf-8")
df = pd.read_csv("./dataset/Depression_experience_rate.csv", engine="python", encoding="utf-8", index_col=0)
df

        2007  2008  2009  2010  2011  2012  2013  2015  2017  2019
전체      12.5  14.3  14.7  12.4  13.2  12.4  10.2  13.0  11.2  10.2
남자       8.1  10.1  10.0   7.9  10.1   8.9   6.6   9.5   9.1   8.1
여자      16.6  18.3  19.2  16.9  16.1  15.9  13.7  16.5  13.4  12.5
19-29세   9.7  12.4  13.3  11.8  13.6   9.3  10.4  14.9  13.5  13.0
30-39세   9.3  10.8  11.9   9.1  11.6  10.8   7.6  10.3   9.1   7.4
40-49세  11.7  13.4  13.4  11.0  11.4  12.9   8.3  10.8   7.8   8.9
50-59세  13.8  17.4  17.8  16.9  15.2  15.0  13.1  13.1  11.0  10.6
60-69세  20.4  19.2  17.9  15.5  15.0  15.1  12.4  18.2  14.7  11.0
70세 이상  20.2  21.6  21.5  16.9  15.9  17.9  16.1  15.2  17.3  13.1

In [6]:
data = [{"x":a, "y":str(df[a]['전체'])} for a in df.columns]
dumps_data = json.dumps(data)
dumps_data

'[{"x": "2007", "y": "12.5"}, {"x": "2008", "y": "14.3"}, {"x": "2009", "y": "14.7"}, {"x": "2010", "y": "12.4"}, {"x": "2011", "y": "13.2"}, {"x": "2012", "y": "12.4"}, {"x": "2013", "y": "10.2"}, {"x": "2015", "y": "13.0"}, {"x": "2017", "y": "11.2"}, {"x": "2019", "y": "10.2"}]'

In [4]:
nivo_data_string = f'{{"id": "experience rate", "color":"hsl(286, 70%, 50%)", "data":{dumps_data}}}'
nivo_data_string

'{"id": "experience rate", "color":"hsl(286, 70%, 50%)", "data":[{"x": "2007", "y": "12.5%"}, {"x": "2008", "y": "14.3%"}, {"x": "2009", "y": "14.7%"}, {"x": "2010", "y": "12.4%"}, {"x": "2011", "y": "13.2%"}, {"x": "2012", "y": "12.4%"}, {"x": "2013", "y": "10.2%"}, {"x": "2015", "y": "13.0%"}, {"x": "2017", "y": "11.2%"}, {"x": "2019", "y": "10.2%"}]}'

In [5]:
with open("line_chart.json", 'w') as outfile:
  outfile.write(nivo_data_string)